button {
  position: relative;
  padding: 15px 45px;
  width: auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 15px ;
  border: 2px solid var(--bgColor-default);
  background: none;
  cursor: pointer;
  outline: none;
  transition: 200ms;
}
i {
  position: absolute;
  color: transparent;
  transition: 200ms;
}
button:focus {
  color: transparent;
  outline: none;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 25px 25px;
  border-left: 2px solid var(--bgColor-default);
  animation: spin 2s 500ms forwards;
}
button:focus i {
  animation: check 300ms 2250ms forwards;
}

@keyframes spin {
  80% {
    border: 2px solid transparent;
    border-left: 2px solid var(--bgColor-default);
  }
  100% {
    transform: rotate(720deg);
    border: 2px solid var(--bgColor-default);
  }
}


@keyframes check {
  to {
    color: var(--bgColor-default);
  }
}