/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

body{
  overflow-x: hidden;
  overflow-y: visible;
}

@media (min-width: 1012px) {
.col-lg-9 {
    width: 74.99999997%;
}
}

@media (min-width: 1012px) {
.sub-head{
  max-width: 70%;
}
}